{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% progressive_web_app_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'queueing/css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% comment %} white text in upper right of page {% endcomment %}
        <div id="header">
            {% comment %} if request.session.listener is present, display some text {% endcomment %}
            {% block header %}
                {% if request.session.listener %}
                    <h1>You Are Tuned Into <a href="{% url 'auth' request.session.listener %}">{{ request.session.listener }}</a>'s Spotify</h1>
                {% endif %}
                {% comment %} if request.session.listener is not present, display some text {% endcomment %}
                {% if not request.session.listener %}
                <h1>Start listening! Choose a DJ. {{ request.session.listener }}</h1>
                {% endif %}
            {% endblock %}
            
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
{% block scripts %}
{% endblock %}
</html>