{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="center">
    <a href="/choose-dj"><button class="button-one">
        {% if not request.session.listener %}
        Choose a DJ
        {% else %}
        Change DJ
        {% endif %}
    </button></a>
    <br><br>
    {% if request.session.listener %}
        <a href="/queue"><button class="button-one">Queue</button></a>
        <br><br>
        {% if request.session.verified %}
        <button id="shuffle" name="shuffle" class="button-one">Shuffle</button>
        <br><br>
        {% endif %}
        <button id="invite" name="invite" class="button-one">Invite</button>
        <br><br>
        
    {% endif %}
    <input name="invite-link" id="invite-link" type="text" value="https://spotifly.thatcherthornberry.com/home/{{ request.session.listener }}/" hidden>
    <button class="button-one" name="install-btn", id="install-btn">Install</button>
    <p id="invite-success" name="invite-success" style="all: initial; display: none; color: white;" hidden> Link Copied to your clipboard!</p>
    <p id="iphone-error" name="iphone-error" style="all: initial; display: none; color: white;" hidden> Click the share button in the bottom middle of Safari. Then click Add to Home Screen</p>
    <p id="install-error" name="install-error" style="all: initial; display: none; color: white;" hidden> Something didn't work, do you already have this app installed?</p>

</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $("#header").hide();
        $("#content").hide();
        $("#header").fadeIn(1000);
        $("#content").fadeIn(1000);
        $("#shuffle").click(function(){
            $.ajax({
                url: "/shuffle/",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: "GET",
                success: function(data){
                    console.log(data);
                }
            });
        });
        $("#invite").click(function(){
            // copy the link to the clipboard
            let link = document.getElementById("invite-link").value;
            // if there are spaces, make url safe
            if (link.indexOf(" ") > -1) {
                link = link.replace(/ /g, "%20");
            }
            
            navigator.clipboard.writeText(link).then(function() {
                console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
            console.error('Async: Could not copy text: ', err);
            });
            // display a success message on the html page
            $("#invite-success").show();
        });
        // INSTALLATION
        // Initialize deferredPrompt for use later to show browser install prompt.
        var deferredPrompt;

        window.addEventListener('beforeinstallprompt', (e) => {
            // Prevent the mini-infobar from appearing on mobile
            e.preventDefault();
            // Stash the event so it can be triggered later.
            deferredPrompt = e;
            // Optionally, send analytics event that PWA install promo was shown.
            console.log(`'beforeinstallprompt' event was fired.`);
        });
        let buttonInstall = document.getElementById('install-btn');
        buttonInstall.addEventListener('click', async () => {
            // Show the install prompt
            try {
                deferredPrompt.prompt();
            }
            catch(err) {
                console.log(err);
                // show install-error message on html page
                console.log(navigator.platform, 'Platform')
                if (['iPhone', 'iPad', 'iPod'].includes(navigator.platform)) {
                    $("#iphone-error").show();
                }
                else {
                    $("#install-error").show();
                }
            }
            
            // Wait for the user to respond to the prompt
            const { outcome } = await deferredPrompt.userChoice;
            // Optionally, send analytics event with outcome of user choice
            console.log(`User response to the install prompt: ${outcome}`);
            // We've used the prompt, and can't use it again, throw it away
            deferredPrompt = null;
        });
    });
    
</script>
{% endblock %}