{% extends "base.html" %}

{% block title %}Queue{% endblock %}

{% block content %}
<div class="center">
    <form method="POST">
        {% csrf_token %}
        <br><br><br><br><br><br>
    
    <input type="text" name="song" id="song" placeholder="Song" required/>
    <input type="text" name="artist" id="artist" placeholder="Artist (Optional)" />
    <br><br>
    <button type="submit" class="button-one" id="queue">Queue</button><br><br>   
    </form>
    <a href="/home/"><button class="button-one">Home</button></a>
    <br>
    <p id="queue-msg" name="queue-msg" style="all: initial; color: white;"> {{ queue_message }}</p>
</div>
{% endblock %}