{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Thatcher Thornberry" />
    <meta
      property="og:description"
      content="I'm a self-taught coder with interest in machine learning, automation, and web development."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thatcherthornberry.com/" />
    <meta
      property="og:image"
      content="{% static 'me/images/headshot.jpeg' %}"
    />

    <title>Thatcher Thornberry</title>
    <link rel="stylesheet" href="{% static 'me/css/style.css' %}" />
  </head>
  <body id="top">
    <main>
      <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg redness">
        <div class="container">
          <a class="navbar-brand mx-auto d-lg-none" href="index.html">
            Thatcher Thornberry
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#hero">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#me">Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div id="myCarousel" class="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <!-- image source example -->
                    <img
                      src="{% static 'me/images/headshot.jpeg' %}"
                      style="width: 500px; height: 500px"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
              </div>

              <div class="heroText d-flex flex-column justify-content-center">
                <h1 class="mt-auto mb-2">
                  I love
                  <div class="animated-info">
                    <span class="animated-item">coding</span>
                    <span class="animated-item">coffee</span>
                    <span class="animated-item">AI</span>
                    <span class="animated-item">python</span>
                    <span class="animated-item">automation</span>
                  </div>
                </h1>

                <p class="mb-4">
                  I'm a self-taught developer with experience across the web
                  development stack. I also do science-y stuff like machine
                  learning, neural networks, and Julia.
                </p>

                <div class="heroLinks d-flex flex-wrap align-items-center">
                  <p>512-383-6834</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-padding" id="me">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <h2 class="mb-lg-3 mb-3">Hey 👋</h2>

              <p>
                I graduated from the University of Texas at Austin with a degree
                in Petroleum Engineering. I spent a lot of my free time doing
                web development with a startup in Austin.
              </p>

              <p>
                I designed, built, and deployed a fully functional social media
                monitoring system with tons of cool features. The application is
                also completely containerized, connects to multiple APIs, and
                runs a scheduler using Redis to monitor multiple social media
                sources.
              </p>
              <br />
              <p>
                Check it out ->
                <a href="https://alertme.bexengine.com" target="_blank"
                  >bexengine.com</a
                >
              </p>
            </div>

            <div class="col-lg-4 col-md-5 col-12 mx-auto">
              <div
                class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center"
              >
                <p class="featured-text">
                  <span class="featured-number">{{ contrib }}</span> Github
                  Contributions<br />
                  in past year (Live)
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'me/js/jquery.min.js' %}"></script>
    <script src="{% static 'me/js/bootstrap.bundle.min.js' %}"></script>
    <script>
      // get total github contributions for user ThatcherT
      $.getJSON(
        "https://api.github.com/users/ThatcherT/repos?callback=foo",
        function (data) {
          var contributions = 0;
          $.each(data, function (i, val) {
            contributions += val.stargazers_count;
          });
          $("#contributions").html(contributions);
        }
      );
    </script>
    <script>
      async function getContributions(token, username) {
          const headers = {
              'Authorization': `bearer ${GITHUB_TOKEN}`,
          }
          const body = {
              "query": `query {
                  user(login: "${GITHUB_USERNAME}") {
                  contributionsCollection {
                      contributionCalendar {
                      totalContributions
                      }
                  }
                  }
              }`
          }
          const response = await fetch('https://api.github.com/graphql', { method: 'POST', body: JSON.stringify(body), headers: headers })
          const data = await response.json()
          return data
      }

      const data = await getContributions('token', 'MeiK2333')
      console.log(data)
    </script>

    TemplateMo 566 Medic Care https://templatemo.com/tm-566-medic-care -->
  </body>
</html>
