asgiref==3.6.0
async-timeout==4.0.2
cfgv==3.3.1
distlib==0.3.6
Django==4.1.6
django-redis==5.2.0
filelock==3.9.0
identify==2.5.17
Markdown==3.4.1
nodeenv==1.7.0
Pillow==9.4.0
platformdirs==2.6.2
pre-commit==3.0.4
psycopg2-binary==2.9.5
python-decouple==3.7
PyYAML==6.0
redis==4.4.2
sqlparse==0.4.3
virtualenv==20.17.1
