html,
body {
  background-color: #1a2327;
  color: white;
  height: 100%;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(15, 158, 127);
}
.container-fluid {
  width: 100%;
  min-height: 100%;
  font-size: 4rem;
  text-align: center;
  padding: 0px;
}

/* MAIN SECTION */
.main-content {
  position: absolute;
  width: 100%;
  top: 25%;
  left: 0;
  padding-left: 10%;
  padding-right: 10%;
}

/* TODO: add back fade in */
.fade-out {
  visibility: hidden;
  opacity: 0;
  /* transition: visibility 0s 1s, opacity 1s linear; */
}

.fade-in {
  visibility: visible;
  opacity: 1;
  /* transition: visibility 1s 1s, opacity 1s linear; */
}

.get-started {
  position: absolute;
  bottom: 10%;
  text-align: left;
}

.get-started:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* FORM */
.form-head {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 25%;
}

.dj-form {
  position: relative;
  left: 10%;
  width: 80%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.dj-form button {
  font-size: 3rem;
}

.form-submit {
  margin-top: 10%;
}

.form-group {
  margin-top: 10%;
}

/* BOTTOM MENU */
.bottom-bar {
  height: 10%;
}

.bottom-bar .nav-icon {
  /* invert svg colors from black to white */
  height: 90px;
  width: 90px;
  filter: invert(50%);
}

.bottom-bar .nav-icon:hover {
  filter: invert(100%);
}

.bottom-bar .active {
  filter: invert(100%) !important;
}

/* BOOTSTRAP OVERRIDES */

.btn-primary {
  background-color: #3f5761;
  border-color: #1a2327;
}

.btn-warning {
  background-color: #941d1d;
}

.btn-primary:hover {
  background-color: #1a2327;
  border-color: #3f5761;
}

.btn-primary:active {
  background-color: #1a2327;
  border-color: #3f5761;
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary:focus {
  background-color: #1a2327;
  border-color: #3f5761;
  box-shadow: none !important;
  outline: none !important;
}

.navbar {
  padding: 0px;
}

.navbar-logo-horse {
  height: 190px;
  width: 190px;
}

.navbar-title {
  padding-bottom: 4%;
  padding-top: 4%;
  font-size: 5rem;
}

/* QUEUE SEARCH */
.search-box {
  padding-top: 75px;
}

.search-item {
  padding-bottom: 35px;
}

.song-title {
  font-size: 2.5rem;
}

.song-artist {
  font-size: 1.5rem;
  color: #a8a8a8;
}

/* UTILS */

.big-ole-btn {
  margin-top: 10%;
  font-size: 4rem;
}

.bootstrap-select .big-ole-btn {
  font-size: 3rem;
}

.bootstrap-select {
  width: 100% !important;
}

.dropdown-menu {
  font-size: 3rem;
}

.form-control {
  font-size: 3rem;
  height: inherit;
}

.big-ole-form-input {
  height: 90px;
  margin-top: 10%;
  font-size: 4rem;
}

h1 {
  position: relative;
  /* this is probably a good way to achieve what I want */
  top: -343%;
}

.error-message {
  color: red;
  font-size: 3rem;
}

.success-message {
  color: green;
  font-size: 3rem;
}
